<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <a href="./index.html" class="logo">
        <svg class="logo__icon" width="36" height="36">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">about</a></li>
        <li class="nav__item"><a href="#" class="nav__link">gallery</a></li>
        <li class="nav__item"><a href="#" class="nav__link">pricing</a></li>
        <li class="nav__item"><a href="#" class="nav__link">faq</a></li>
        <li class="nav__item"><a href="#" class="nav__link">benefits</a></li>
      </ul>
    </nav>
    <ul class="header__list">
      <li class="header__item">
        <button class="button header__button" type="button">sign in</button>
      </li>
      <li class="header__item">
        <button class="button header__button" type="button">sign up</button>
      </li>
    </ul>
  </div>
</header>
